.whole {
  border: 7px solid teal;
  padding-left: 20px;
  padding-right: 20px;
  width: 1227px;
}

p {
  font-size: 20px;
  color: #B152FA;
}


.boxes {
  margin-left: 100px;
  margin-right: 100px;
  min-height: 10em;
  display: table-cell;
  vertical-align: middle;
}

.grey-box {
  display: inline-block;
  float: left;
  width: 400px;
  height: 400px;
  padding: 10px;

  background-color: #ABABAB;
  margin-top: 300px;
  margin-bottom: 300px;
  margin-left: 100px;
  box-sizing: border-box;
}

.purple-box {

  font-family: sans-serif;
  float: left;
  box-sizing: border-box;
  width: 600px;
  height: 400px;
  border: 2px #B152FA solid;

  margin-left: 40px;
  margin-top: 300px;
  margin-bottom: 300px;
}

.top-purple-box {
  color: #FF00FF;
  border-bottom: 2px #B152FA solid;
  border-top: none;
  border-left: none;
  border-right: none;
}
.top-purple-box p {
  font-size: 16px;
}
.bottom-purple-box {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  margin-top: 100px;
}

#spacing  {
  letter-spacing: 20px;
  float: right;
  position: relative;
  text-align: right;
}

#ABC {
  margin-left: 265px;
}

.blue-box{
  position: relative;
  box-sizing: border-box;
  border: 3px #92B0F0 solid;
  margin: 10%;
  background-color: lightblue;
  padding: 15px;
  height: 80%;
  color: #FF00FF;
  text-align: center;
  font-family: sans-serif;
}


.small-grey-box {
  box-sizing: border-box;
  border: 1px darkgrey solid;
  background-color: #D1D1D1;
  margin-top: 60%;

}

.small-grey-box  p{
  font-size: 16px;
}

img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

}
